.btn-add {
  right: 4px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.linkBtn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  &:hover {
    background-color: #eee;
  }
}
